<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="container">
    <div class="">
        <h4 class="text-dark mb-4">Agregar nuevo migrante</h4>
        <a href="/migrante/agregar" class="btn btn-success text-white">Agregar</a>
    </div>

    <br>

    <div class="">
        <h4 class="text-dark mb-4">Migrantes CAMMI</h4>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Edad</th>
                <th>Género</th>
                <th>Nacionalidad</th>
                <th>Ver Más</th>
                <th>Editar</th>
            </tr>
            <% for (let migrante of migrantes) {%>
            <tr>
                <td><%= migrante.Nombre%></td>
                <td><%= migrante.Edad%></td>
                <td><%= migrante.Genero%></td>
                <td><%= migrante.Nacionalidad%></td>
                <td>
                    <form action='/migrante' method='POST'><button class='btn btn-primary btn-sm' type='submit'
                            name='ver' value='<%= migrante.Folio%>'><i class="fa fa-plus"
                                aria-hidden="true"></i></button></form>
                </td>
                <td>
                    <form action='/migrante' method='POST'><button class='btn btn-primary btn-sm' type='submit'
                            name='editar' value='<%= migrante.Folio%>'><i class="fa fa-pencil"
                                aria-hidden="true"></i></button></form>
                </td>
            </tr>
            <% } %>
        </thead>

    </table>
</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>