<%- include('includes/header.ejs') %>
   <%- include('includes/sidebar.ejs') %>
        <h3 class="text-dark mb-4">Registro Atención psicosocial</h3>
        <div class="row mb-3">
            <div class="col-lg-8">
            
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Resgistro Atención psicosocial del migrante</p>
                            </div>
                            <div class="card-body">
                                <form action="atencion_psicosocial" method="POST">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="Nombre"><strong>Nombre del migrante</strong></label>
                                            
                                                <select id="Nombre" class="form-select" aria-label="Default select example" name="Nombre">
                                                    <% for(let persona of personas) {%>
                                                        <option value="<%= persona.Folio %>"><%= persona.Nombre%></option>
                                                       
                                                    <% }%>
                                                </select>
                                            </div>


                                            <div class="mb-3">
                                                <label class="form-label" for="Fecha"><strong>Fecha de registro</strong></label>
                                                <input type="date" class="form-control" id="Fecha" placeholder="DD/MM/AAAA" name="Fecha">
                                            </div>
                                            
            
                                            
                                        </div>
                                        <div class="col">

                                            <div class="mb-3">
                                                <label for="Tipo_psicosocial"><strong>Tipo de apoyo</strong></label>
                                           
                                                <select id="Tipo_psicosocial" class="form-select" aria-label="Default select example" name="Tipo_psicosocial">
                                                    <% for(let tipo of tipos) {%>
                                                        <option value="<%= tipo.Id_Tipo_de_Apoyo %>"><%= tipo.Nombre_Tipo_de_Apoyo%></option>
                                                       
                                                    <% }%>
                                                </select>
                                            </div>

                                            
                                            <div class="mb-3">
                                                <label for="Formato_de_Atencion"><strong>Formato de atención</strong></label>
                                            
                                                <select id="Formato_de_Atencion" class="form-select" aria-label="Default select example" name="Formato_de_Atencion">
                                                    <option value="TELEFÓNICA">TELEFÓNICA</option>
                                                    <option value="PRESENCIAL">PRESENCIAL</option>
                                                    <option value="VIDEOLLAMADA">VIDEOLLAMADA</option>
                                                </select>
                                            </div>

                                            
                                           
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="mb-3">

                                            <a href="/panel/psicosocial" type="submit" class="btn btn-secondary">Cancelar</a>    
                                            <input type="submit" name="enviar"  class="btn btn-primary" value="Registrar"> 
                                            </div>     
                                        </div>


                                    </div>

    
                                 </form>
                            </div>
                        
                        
                        </div>
                        <div class="card shadow">
                        </div>
                    </div>
                </div>
            </div>
    <%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>