<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>
<h3 class="text-dark mb-4">Resgistro Alojamiento</h3>
<div class="row mb-3">
    <div class="col-lg-8">

        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Resgistro Alojamiento</p>
                    </div>
                    <div class="card-body">
                        <form action="/alojamiento" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Nombre"><strong>Nombre del migrante</strong></label>

                                        <select id="Nombre" class="form-select" aria-label="Default select example"
                                            name="Nombre">
                                            <% for(let persona of personas) {%>
                                            <option value="<%= persona.Folio %>"><%= persona.Nombre%></option>

                                            <% }%>
                                        </select>
                                    </div>


                                    <div class="mb-3">
                                        <label for="Persona_Refugiada"><strong>Persona refugiada </strong></label>

                                        <select id="Persona_Refugiada" class="form-select"
                                            aria-label="Default select example" name="Persona_Refugiada">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Miembro_de_la_Estacion_Migratoria"><strong>Miembro de la estación
                                                migratoria </strong></label>

                                        <select id="Miembro_de_la_Estacion_Migratoria" class="form-select"
                                            aria-label="Default select example"
                                            name="Miembro_de_la_Estacion_Migratoria">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>

                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Uso_de_Cama"><strong>Uso de cama </strong></label>

                                        <select id="Uso_de_Cama" class="form-select" aria-label="Default select example"
                                            name="Uso_de_Cama">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>
                                        </select>
                                    </div>




                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="Alojamiento_con_Costo"><strong>Alojamiento con costo
                                            </strong></label>

                                        <select id="Alojamiento_con_Costo" class="form-select"
                                            aria-label="Default select example" name="Alojamiento_con_Costo">
                                            <option value="NO">NO</option>
                                            <option value="SI">SI</option>

                                        </select>
                                    </div>


                                    <div class="mb-3">
                                        <label for="Mpp"><strong>Persona MPP </strong></label>

                                        <select id="Mpp" class="form-select" aria-label="Default select example"
                                            name="Mpp">
                                            <option value="NO"> NO </option>
                                            <option value="SI">SI</option>

                                        </select>
                                    </div>


                                    <div class="mb-3">
                                        <label class="form-label" for="Fecha"><strong>Fecha de registro</strong></label>
                                        <input type="date" class="form-control" id="Fecha" placeholder="DD/MM/AAAA"
                                            name="Fecha">
                                    </div>





                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="mb-3">

                                        <a href="/panel/albergue" type="submit" class="btn btn-secondary">Cancelar</a>
                                        <input type="submit" name="enviar" class="btn btn-primary" value="Registrar">
                                    </div>
                                </div>


                            </div>


                        </form>
                    </div>


                </div>
                <div class="card shadow">
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/endsidebar.ejs') %>
    <%- include('includes/footer.ejs') %>