<%- include('includes/header.ejs') %>
<%- include('includes/sidebar.ejs') %>

<div class="container">
    <% if (exito_usuario  !== false) { %>
        <div class="alert alert-success   alert-dismissible fade show" role="alert">
            Se ha agregado con éxito a: <strong><%- exito_usuario  %></strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
         
    <% } %> 

    <div class="">
        <h4 class="text-dark mb-4">Crear nuevo usuario</h4>
        <a href="/panel/usuarios/crear" class="btn btn-success text-white">Crear usuario</a>
    </div>

    <br>

    <div class="">
        <h4 class="text-dark mb-4">Nuestros usuarios</h4>
    </div>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
            <% for (let user of users) {%>
            <tr>
                <td><%= user.NAME%></td>
                <td><%= user.LASTNAME%></td>
                <td><%= user.USERNAME%></td>
                <td><%= user.EMAIL%></td>
                <td><%= user.NOMBRE%></td>
                <td>
                    <form action='/panel/usuarios' method='POST'>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class='btn btn-primary btn-sm' type='submit' name='editar'
                            value='<%= user.ID_USUARIO%>'>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>
        </thead>

    </table>
</div>

<%- include('includes/endsidebar.ejs') %>
<%- include('includes/footer.ejs') %>